#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px dotted rgb(216, 212, 212);
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: rgb(216, 212, 212);
  font-weight: 100;
}

img {
  width: 70px;
  height: auto;
  border-radius: 35%;
}

body {
  background-color: #034456;
  color: rgb(216, 212, 212);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

h1,
h2 {
  font-weight: lighter;
  font-size: 30px;
}

.container {
  background-color: #034456;
  padding: 20px 20px 20px;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid rgb(216, 212, 212);
  /* border-radius: 20px; */
  margin: 50px auto 0 auto;
}

.subcontainer {
  background-color: #034456;
  align-self: flex-start;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px 20px 10px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
}

#inputField,
#budgetField,
#gramsField {
  margin: 5px;
  border-radius: 7px;
  padding: 5px;
  padding-left: 6px;
}

footer {
  text-align: center;
  padding: 5px;
  color: rgb(216, 212, 212);
  margin-top: 120px;
}
.resetDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 5px;
  cursor: pointer;
}
